{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block extraresources %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'dist/assets/css/main/app.css' %}">
  <link rel="stylesheet" href="{% static 'dist/assets/css/main/app-dark.css' %}">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.svg' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
</head>

<body>

  <div id="app">
    <div id="main" class="layout-horizontal">
      <main class="screen_container">

        <nav class="app-navbar">
          <ul>
            <li class='menu-item toggle-menu' onclick="toggleMenu(this)">
              <a class="menu-link" href="#">
                <i class="bi bi-list"></i>
                <span>Desplegar menú</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="{% url 'vinculacion:dashboard' %}">
                <i class="bi bi-house-fill"></i>
                <span>Inicio</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="{% url 'investigadores:lista' %}">
                <i class="bi bi-eyeglasses"></i>
                <span>Investigadores</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="#">
                <i class="bi bi-collection-fill"></i>
                <span>Grupos Académicos</span></a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="#">
                <i class="bi bi-pencil-fill"></i>
                <span>Universidades</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="{% url 'empresas:lista' %}">
                <i class="bi bi-grid-fill"></i>
                <span>Instituciones / Empresas</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="main-scroll">
          {% block contenido %}
          {% endblock %}
        </div>

        <nav class="app-navbar">
          <ul>
            <li class='menu-item'>
              <a class="menu-link">
                <i class="bi bi-brightness-high-fill"></i>
                <div class="form-check form-switch fs-6">
                  <input class="form-check-input  me-0" type="checkbox" id="toggle-dark">
                  <label class="form-check-label"></label>
                </div>
                <i class="bi bi-moon"></i>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="{% url 'vinculacion:perfil' %}">
                <i class="bi bi-person-fill"></i>
                <span>{% if user.is_staff %}Administración{% else %}Perfil{%endif%}</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="{% url 'vinculacion:noticias' %}">
                <i class="bi bi-envelope-paper-fill"></i>
                <span>Noticias</span>
              </a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="#">
                <i class="bi bi-ui-radios"></i>
                <span>Contacto</span></a>
            </li>
            <li class='menu-item'>
              <a class="menu-link" href="#">
                <i class="bi bi-chat-square-fill"></i>
                <span>Acerca de</span>
              </a>
            </li>
            <li class='menu-item toggle-menu' onclick="toggleMenu(this)">
              <a class="menu-link" href="#">
                <i class="bi bi-list"></i>
                <span>Desplegar menú</span>
              </a>
            </li>
          </ul>
        </nav>

      </main>
    </div>
  </div>

  <script src="{% static 'dist/assets/js/app.js' %}"></script>
  <script src="{% static 'js/toggleMenu.js' %}"></script>
  <script src="{% static 'js/administracion.js' %}"></script>

  {% block scripts %}
  {% endblock %}
</body>

</html>