{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}
<div class="d-flex justify-content-center p-5">

  <div class="w-75">
    <div class="card">
      <div class="card-header">
        <h5>Datos de usuario</h5>
      </div>
      <div class="card-body">
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger">{{message}}</div>
        {% else %}
        <div class="alert alert-success">{{message}}</div>
        {% endif %}
        {% endfor %}
        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-1 mb-1">Guardar</button>
            <button type="reset" class="btn btn-dark me-1 mb-1">Reiniciar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}