{% extends 'vinculacion/perfil_base.html' %}
{% load static %}

{% block contenido_perfil %}

<div class="row w-100 p-2 m-0">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>Agregar investigación</h4>
      </div>
      <div class="card-body">
        <a href="{% url 'vinculacion:investigacion_nuevo' %}"><span class="badge bg-success">Crear</span></a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>Cargar investigaciones desde google scholar</h4>
      </div>
      <div class="card-body">
        <form class="form form-vertical" method="POST" action="{% url 'vinculacion:investigaciones_fetch' %}">
          {% csrf_token %}
          <div class="form-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="profile-url">Ingresa enlace a tu perfil de google scholar</label>
                  <input class="form-control" name="profile-url" id="profile-url">
                </div>
              </div>

              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-1 mb-1">Cargar investigaciones</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row w-100 p-2 m-0">
  {% for investigacion in object_list %}
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>{{investigacion.titulo}}</h4>
      </div>

      <div class="card-body">
        <h5>Autores</h5>
        <p>{{investigacion.autores.all|join:", "}}</p>
        <hr/>

        <h5>Categorías</h5>
        <p>{{investigacion.categorias.all|join:", "}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block elemento_activo %}investigaciones{% endblock %}