{% extends 'vinculacion/base.html' %}
{% load static %}

{% block extraresources %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block contenido %}

<div class="contenedor-investigadores">
  <h2 class="titulo-investigadores">Investigadores</h2>
  <div class="descripcion-investigadores">
    <div class="descripcion-foto">
      <img src="{% static 'img/anfitrion.jpg' %}" alt="">
    </div>

    <div class="descripcion-info">
      <div class="descripcion-texto">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus, orci at feugiat eleifend, diam est
          maximus ex, vitae imperdiet dolor mauris quis augue. Sed ex arcu, tincidunt et imperdiet non, ultricies eget
          lacus. Nullam neque metus, facilisis eu tincidunt vitae, dignissim ac nulla. Duis bibendum faucibus lorem nec
          convallis. Nam tristique nunc quis augue auctor, eget euismod lorem scelerisque. Ut et ultricies sem, eu
          consectetur diam. Sed imperdiet libero in nisi vestibulum, at euismod ante faucibus.
        </p>
      </div>

      <div class="descripcion-boton">
        <a class="btn-descripcion" href="#">Más información</a>
      </div>
    </div>
  </div>

  <h2 class="titulo-investigadores">Nuestros Investigadores</h2>
  <div class="lista-investigadores">
    {% for investigador, categorias in investigadores %}
    <div class="carta-investigador">
      <div class="foto-carta">
        <i class="fa fa-user icono-usuario"></i>
      </div>

      <div class="datos-carta">
        <p><b>{{investigador.user.username}}</b></p>
        <div class="investigador-estrellas">
          {% for i in "x"|ljust:investigador.nivel.nivel %}
            <i class="fa fa-star"></i>
          {% endfor %}
        </div>
        <p><b>Institución: </b> -</p>
        <p><b>Nivel: </b> {{investigador.nivel.nivel}}</p>
        <p><b>Grado: </b> -</p>
        <p><b>Áreas: </b> {{categorias|join:", "}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
