{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="noticias-contenedor">
  <h2 class="titulo-seccion">Nota</h2>

  <h2 class="noticia-titulo">{{noticia.titulo}}</h2>

  <div class="noticia">
    <div class="noticia-imagen">
      <img src="{{MEDIA_URL}}/{{noticia.imagen}}" alt="">
    </div>

    <div class="noticia-detalle">
      <p class="noticia-datos">Escrito el: {{noticia.fecha}} por: {{noticia.escritor}}</p>
      <p class="noticia-texto">{{noticia.contenido}}</p>
    </div>
  </div>
</div>

{% endblock %}
