{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="noticias-contenedor">
  <h2 class="titulo-seccion">Noticias</h2>

  <div class="noticias-lista">
    {% for noticia in noticias %}
      <div class="carta-noticia">
        <div class="noticia-imagen">
          <img src="{{MEDIA_URL}}/{{noticia.imagen}}" alt="">
        </div>

        <div class="noticia-info">
          <h2 class="noticia-titulo">{{noticia.titulo}}</h2>
          <p class="noticia-datos">Escrito el: {{noticia.fecha}} por: {{notica.autor}}</p>
          <p class="noticia-texto">{{noticia.contenido|truncatechars:255}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
