{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}
<main class="contenedor-perfil">
  <a href="{% url 'vinculacion:investigador_form' %}" class="form-link">
    <div class="columna-tipo-usuario investigador-bg">
      <h2>Investigador</h2>
    </div>
  </a>
  <a href="{% url 'vinculacion:empresa_form' %}" class="form-link">
    <div class="columna-tipo-usuario empresa-bg">
      <h2>Empresa</h2>
    </div>
  </a>
  <a href="{% url 'vinculacion:institucion_educativa_form' %}" class="form-link">
    <div class="columna-tipo-usuario institucion-bg">
      <h2>Institución Educativa</h2>
    </div>
  </a>
</main>
{% endblock %}