{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="row w-100 p-2 m-0">
  <div class="col-md-12">

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Actualizar datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Lorem</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
      </div>
    </div>

  </div>
</div>

{% block contenido_perfil %}
{% endblock %}

{% endblock %}