{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="row w-100 p-2 m-0">
  <div class="col-md-12">

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" id="perfil" href="{% url 'vinculacion:perfil' %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" {% if user.tipo_usuario.tipo == "Investigador" %}
              href="{% url 'vinculacion:investigador_actualizar' %}" {% elif user.tipo_usuario.tipo == "Empresa" %}
              href="{% url 'vinculacion:empresa_actualizar' %}" {% else %}
              href="{% url 'vinculacion:institucion_educativa_actualizar' %}" {% endif %}
              id="actualizar_datos">Actualizar
              datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="solicitudes" href="{% url 'vinculacion:institucion_educativa_solicitudes' %}">Solicitudes de ingreso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="eliminar" href="{% url 'vinculacion:usuario_eliminar' %}">Eliminar mi cuenta</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
      </div>
    </div>

  </div>
</div>

{% block contenido_perfil %}
{% endblock %}

<script>
  document.getElementById('{% block elemento_activo %}{% endblock %}'.trim()).classList.add("active");
</script>

{% endblock %}