{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'dist/assets/css/main/app.css' %}">
  <link rel="stylesheet" href="{% static 'dist/assets/css/pages/auth.css'%}">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.png' %}" type="image/png">
</head>

<body>
  <div id="auth">

    <div class="row h-100">
      <div class="col-lg-5 col-12">
        <div id="auth-left">
          <div class="auth-logo d-flex justify-content-center">
            <a href="{% url 'vinculacion:dashboard' %}"><img src="{% static 'img/Logocozcyt.jpg' %}"
                alt="Logo" style="height: 90px;"></a>
          </div>
          <h1 class="auth-title">Registro</h1>
          <p class="auth-subtitle mb-5">Bienvenido al Sistema Estatal de Investigadores del Estado de Zacatecas</p>

          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger">{{message}}</div>
          {% else %}
          <div class="alert alert-success">{{message}}</div>
          {% endif %}
          {% endfor %}

          <form method="POST">
            {% csrf_token%}

            <div class="form-group position-relative has-icon-left mb-4">
              {{form.email}}
              <div class="form-control-icon">
                <i class="bi bi-envelope"></i>
              </div>
              {% for error in form.email.errors %}
              <div class="alert alert-danger">{{error}}</div>
              {% endfor %}
            </div>

            <div class="form-group position-relative has-icon-left mb-4">
              {{form.username}}
              <div class="form-control-icon">
                <i class="bi bi-person"></i>
              </div>
            </div>
            {% for error in form.username.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group position-relative has-icon-left mb-4">
              <input type="password" class="form-control form-control-xl" name="password" placeholder="Contraseña">
              <div class="form-control-icon">
                <i class="bi bi-shield-lock"></i>
              </div>
            </div>
            {% for error in form.password.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <div class="form-group position-relative has-icon-left mb-4">
              <input type="password" class="form-control form-control-xl" name="repassword"
                placeholder="Confirmar contraseña">
              <div class="form-control-icon">
                <i class="bi bi-shield-lock"></i>
              </div>
            </div>
            {% for error in form.repassword.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Crear cuenta</button>

          </form>
          <div class="text-center mt-5 text-lg fs-4">
            <p class='text-gray-600'>¿Ya tiene una cuenta? <a href="{% url 'usuarios:login' %}"
                class="font-bold">Iniciar sesión</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
      </div>
    </div>

  </div>
</body>

</html>