{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Inicio de sesion</title>
</head>

<body class="body-login">
    <div class="container-form sign-up">

        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido al sistema de Vinculación</h2>
                <p>Inicia sesion aqui</p>
                <a href="{% url 'usuarios:login' %}"><button class="sign-up-btn">Iniciar Sesion</button></a>
            </div>
        </div>

        {% if form.errors %}
            <div class="alert alert-warning">
            {{form.errors}}
            </div>
        {% endif %}

        <form class="form" method="post">
            {% csrf_token %}
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crear una cuenta gratis</p>

            <select name="tipoCuenta" class="tipoCuenta">
                <option>Visitante</option>
                <option>Investigador</option>
                <option>Institución Educativa</option>
                <option>Empresa</option>
            </select>
            <input type="text" name="username" placeholder="Nombre">
            <input type="email" placeholder="Email">
            <input type="password" name="password" laceholder="Contraseña">
            <input type="password" name="repassword" placeholder="Confirma Contraseña">
            <input type="submit" value="Registrarse">
        </form>
    </div>
</body>

</html>
