{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="map-container">

  <div class="mapa-header">
    <div class="mapa-titulo">
      Sistema Estatal de Investigadores
    </div>
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
    </div>
  </div>

  <div class="mapa">
    <div class="filtro">
      <div class="filtro-titulo">
        Filtros
      </div>
      <div class="filtro-form">
        <form>
          <p>Interés</p>

          <div id="filtro_tipo_usuario">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="filtro_investigadores"
                onchange="recargarUsuariosMapa()">
              <label class="form-check-label" for="flexCheckDefault">
                Investigador
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="filtro_empresas"
                onchange="recargarUsuariosMapa()">
              <label class="form-check-label" for="flexCheckDefault">
                Empresa
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="filtro_instituciones"
                onchange="recargarUsuariosMapa()">
              <label class="form-check-label" for="flexCheckChecked">
                Institución Educativa
              </label>
            </div>
          </div>

          <hr>
          <p>Etiquetas</p>
          <div class="form-group">
            <select multiple class="form-control" id="etiquetas" onchange="recargarUsuariosMapa()">
            </select>
          </div>
          <hr>
        </form>
      </div>
    </div>

    <div class="mapa-imagen-container" id="map">
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/vinculacion.js' %}"></script>
{% endblock %}
