{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="map-container">

  <div class="mapa-header">
    <div class="mapa-titulo">
      Sistema Estatal de Investigadores
    </div>
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
    </div>
  </div>

  <div class="mapa">
    <div class="filtro">
      <div class="filtro-titulo">
        Filtros
      </div>
      <div class="filtro-form">
        <form>
          <p>Interés</p>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_investigadores"
              onchange="reloadUsersInMap()">
            <label class="form-check-label" for="flexCheckDefault">
              Investigadores
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_empresas" onchange="reloadUsersInMap()">
            <label class="form-check-label" for="flexCheckDefault">
              Empresas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_instituciones"
              onchange="reloadUsersInMap()">
            <label class="form-check-label" for="flexCheckChecked">
              Instituciones Educativas
            </label>
          </div>

          <hr>
          <p>Etiquetas</p>
          <div class="form-group">
            <select multiple class="form-control" id="etiquetas" onchange="reloadUsersInMap()">
            </select>
          </div>
          <hr>
        </form>
      </div>
    </div>

    <div class="mapa-imagen-container" id="map">
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/suggestions.js' %}"></script>
<script src="{% static 'js/ubicaciones.js' %}"></script>
<script>
  let suggestions = [
    {%for categoria in categorias %}
  "{{categoria}}",
    {% endfor %}
    ];

  let usuarios = [
    {% for usuario in usuarios %}
  {
    username: "{{usuario.user.username}}",
      latitud : "{{usuario.ubicacion.latitud}}",
        longitud : "{{usuario.ubicacion.longitud}}",
          tipoUsuario : "{{usuario.user.tipo_usuario}}"
  },
  {% endfor %}
    ];
  showUsersInMap();
</script>
{% endblock %}
