{% extends 'base.html' %}
{% load static %}

{% block extraresources %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
{% endblock %}

{% block contenido %}
<div class="map-container">

  <div class="search-side">
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Escribe el tema de tu interés">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fa fa-search"></i></div>
      </div>
    </div>

    <div class="filtros-container">

      <div class="filtros">
        <p>Interés</p>

        <div id="filtro_tipo_usuario">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_investigadores"
              onchange="recargarUsuariosMapa()">
            <label class="form-check-label" for="flexCheckDefault">
              Investigador
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_empresas"
              onchange="recargarUsuariosMapa()">
            <label class="form-check-label" for="flexCheckDefault">
              Empresa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filtro_instituciones"
              onchange="recargarUsuariosMapa()">
            <label class="form-check-label" for="flexCheckChecked">
              Institución Educativa
            </label>
          </div>
        </div>

        <hr>

        <p>Etiquetas</p>
        <div class="etiquetas" id="etiquetas">
        </div>

      </div>

    </div>
  </div>

  <div class="mapa">
    <div class="mapa-imagen-container" id="map">
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/vinculacion.js' %}"></script>
{% endblock %}
