{% extends 'investigadores/base.html' %}

{% block contenido %}
<div class="card" style="width: 90rem;">
  <div class="card-body">

    <a class="btn btn-outline-success btn-sm" href="{% url 'investigadores:nueva_investigacion' %}">Nueva Investigacion</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Categorías</th>
          <th scope="col">Autores</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for investigacion in investigaciones %}
          <tr>
            <td>{{investigacion.titulo}}</td>
            <td>{% for categoria in investigacion.categorias.all %}{{categoria}} {% endfor %}</td>
            <td>{% for autor in investigacion.autores.all %}{{autor}} {% endfor %}</td>
            <td>
              <a class="btn btn-outline-primary btn-sm" href="{% url 'investigadores:editar_investigacion' investigacion.pk %}">Editar</a>
              <a class="btn btn-outline-danger btn-sm" href="{% url 'investigadores:eliminar_investigacion' investigacion.pk %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>
{% endblock %}
