{% extends 'administracion/base.html' %}
{% load static %}

{% block contenido %}
<section class="section">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                Usuarios registrados por mes.
              </div>
              <div class="card-body">
                <div id="usuarios-mes"></div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                Distribución usuarios.
              </div>
              <div class="card-body">
                <div id="usuarios-distribucion"></div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/graficas.js' %}"></script>
{% endblock %}

{% block marcar_activo %}
marcarMenuActivo("Dashboard");
renderizarGraficaUsuariosMes(
  [{% for fecha_mes, numeros_mes in registros_mes %} {{numeros_mes}}, {% endfor %}],
  [{% for fecha_mes, numeros_mes in registros_mes %} "{{fecha_mes}}", {% endfor %}]
);
renderizarGraficaUsuariosDistribucion(
  [{% for fecha_mes, numeros_mes in usuarios_tipo %} {{numeros_mes}}, {% endfor %}],
  [{% for fecha_mes, numeros_mes in usuarios_tipo %} "{{fecha_mes}}", {% endfor %}]
);
{% endblock %}
