{% extends 'administracion/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/datatables.css' %}">
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/fontawesome.css' %}">
{% endblock %}

{% block contenido %}
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                Usuarios
            </div>
            <div class="card-body">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Tipo Usuario</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{usuario.username}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{% if usuario.tipo_usuario %} usuario.tipo_usuario {% else %} Invitado {% endif %}</td>
                                <td>
                                    <span class="badge bg-success">{% if usuario.is_active %} Activo {% else %} Inactivo {% endif %}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
{% endblock %}

{% block scripts %}
<script src="{% static 'dist/assets/js/extensions/datatables.js' %}"></script>
{% endblock %}

{% block marcar_activo %}
marcarMenuActivo("Tablas");
{% endblock %}
